In [1]:
#One Sample t test
#Importing libraries
import pandas as pd
import scipy.stats as stats
from scipy.stats import ttest_1samp

In [4]:
#Loading data
data = pd.read_csv("Onesamp.csv")
#Printing first 5 rows
data.head()

   Student  Overall Marks Gender    Subject
0    Anish             97   Male    English
1  Rishabh             83   Male    English
2     Ajay             78   Male    Physics
3  Abhinav             86   Male  Chemistry
4   Anurag             91   Male    English

In [8]:
from scipy.stats import ttest_1samp
t_statistic, p_value = ttest_1samp(data['Overall Marks'], 80)
print(t_statistic)
print(p_value)

-4.47527331218
2.04251030965e-05

In [9]:
data['Overall Marks'].mean()
t_statistic, p_value = ttest_1samp(data['Overall Marks'], 68)
print(t_statistic)
print(p_value)

0.0797122472907
0.936627028518

In [13]:
# Two Samples  T Test
# studentâœ¬s t-test
from numpy.random import seed
from numpy.random import randn
from scipy.stats import ttest_ind
# seed the random number generator
seed(1)
# generate two indedepent sample_space
data1=pd.read_csv("C:/Users/Sm/Desktop/FDPOU final/data1.csv")
data1.shape
data2=pd.read_csv("C:/Users/Sm/Desktop/FDPOU final/data2.csv")
data2.shape
stat, p = ttest_ind(data1, data2)
print(stat)
print(p)
data1.mean()
data2.mean()

[-0.63974508]
[ 0.52341456]

40    30.344156
dtype: float64

In [14]:
import pandas as pd
import scipy.stats as stats
from scipy.stats import ttest_ind
#Loading datasets
data = pd.read_csv('C:/Users/Sm/Desktop/FDPOU final/Data for 2 sample test.csv')
#Calculating t-statistic and p-value using 2 sample t-test
t_statistic, p_value = ttest_ind(data['Hauz Khas'],data['Defence Colony'][0:14],equal_var = False)
print(p_value)

0.0151535193825

In [15]:
# paired studentâœ¬s t-test
from numpy.random import seed
from numpy.random import randn
from scipy.stats import ttest_rel
# seed the random number generator
seed(1)
# generate two independent samples
data1 = 5 * randn(100) + 50
data2 = 5 * randn(100) + 51
# compare samples
stat, p = ttest_rel(data1, data2)
print(stat)
print(p)

-2.37190095671
0.0196307983371

In [17]:

#Importing libraries
import pandas as pd
import scipy.stats as stats
from scipy.stats import ttest_rel
#Loading data
data = pd.read_csv("C:/Users/Sm/Desktop/FDPOU final/Data for paired t test.csv")
#Printing first 5 rows
data.head()
# Calculating t and p-value using scipy library
t_statistic, p_value = stats.ttest_rel(data['Errors using typewriter'],data['Errors using a computer'])
print(t_statistic)
print(p_value)

3.68420758354
0.00116539762816

In [18]:

#####################################3s
# Anovas
#####################################3s

# analysis of variance test
from numpy.random import seed
from numpy.random import randn
from scipy.stats import f_oneway
# seed the random number generator
seed(1)
# generate three independent samples
data1 = 5 * randn(100) + 50
data2 = 5 * randn(100) + 50
data3 = 5 * randn(100) + 52
# compare samples
stat, p = f_oneway(data1, data2, data3)
print(stat)
print(p)
data1.mean()
data2.mean()
data3.mean()

3.65453754997
0.0270439091707

52.049109473812933